<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
</head>
<body>
    <div class="container">
        <h1>Status do Envio</h1>
        <div class="status-list">
            <h3>Mensagens Enviadas:</h3>
            <ul>
                {% for msg in status['sending'] %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>

            <h3>Erros:</h3>
            <ul>
                {% for error in status['errors'] %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>